.row-fluid
  .col-md-2
    %ul.nav.nav-pills.nav-stacked
      %p.text-uppercase= "Weblog / new project"
      = sub_menu_item(:projects, [:admin, :projects], menu_active?(:projects), "th-list")
  .col-md-10
    = form_for(@project, :url => admin_projects_path) do |f|
      .form-group
        = f.text_field :title, :label => false, :class => "form-control", :placeholder => t("admin.placeholders.title")
      .form-group
        = f.select :tag_ids, Tag.all.collect {|t| [t.name, t.id]}, {}, :multiple => true, :class => "form-control bootstrap-multiselect"
      .form-group
        = f.text_area :lead, :label => false, :class => "form-control", :placeholder => t("admin.placeholders.lead")
      .form-group
        = f.text_area :body, :label => false, :class => "form-control", :placeholder => t("admin.placeholders.body")
      .form-group
        = f.submit :submit, :class => "btn btn-primary"