.row-fluid
  .col-md-2
    %ul.nav.nav-pills.nav-stacked
      %p.text-uppercase= "Weblog / edit post"
      = sub_menu_item(:posts, [:admin, :posts], menu_active?(:posts), "th-list")
      = sub_menu_item(:new_post, [:new, :admin, :post], menu_active?(:posts), "plus")
  .col-md-10
    = form_for(@post, :url => admin_post_path) do |f|
      .form-group
        = f.text_field :title, :label => false, :class => "form-control", :placeholder => t("admin.placeholders.title")
      .form-group
        = f.select :tag_ids, Tag.all.collect {|t| [t.name, t.id]}, {}, :multiple => true, :class => "form-control bootstrap-multiselect"
      .form-group
        = f.text_area :lead, :label => false, :class => "form-control", :placeholder => t("admin.placeholders.lead"), :rows => "5"
      .form-group
        = f.text_area :body, :label => false, :class => "form-control", :placeholder => t("admin.placeholders.body"), :rows => "15"
      .form-group
        = f.submit :submit, :class => "btn btn-primary"