!!! HTML5
%html
  %head
    %title= t("admin.general.title")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.admin
  
    = render("admin/application/navigation") if current_admin

    .container-fluid
      = yield